<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Codemasters.F1_2020" version="4.3.3" targetFramework="net471" />
  <package id="CsDebugScript.DbgEng" version="1.4.0.355" targetFramework="net471" />
  <package id="CsDebugScript.DiaSymbolProvider" version="1.4.0.355" targetFramework="net471" />
  <package id="CsDebugScript.Drawing.Interfaces" version="1.4.0.355" targetFramework="net471" />
  <package id="CsDebugScript.Engine" version="1.4.0.355" targetFramework="net471" />
  <package id="DIA" version="1.0.2" targetFramework="net471" />
  <package id="LibGit2Sharp" version="0.27.0-preview-0017" targetFramework="net471" />
  <package id="LibGit2Sharp.NativeBinaries" version="2.0.289" targetFramework="net471" />
  <package id="LiveCharts" version="0.9.7" targetFramework="net471" />
  <package id="Microsoft.CSharp" version="4.4.0" targetFramework="net471" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net471" />
  <package id="System.Dynamic.Runtime" version="4.3.0" targetFramework="net471" />
  <package id="System.IO.FileSystem" version="4.3.0" targetFramework="net471" />
  <package id="System.IO.FileSystem.Primitives" version="4.3.0" targetFramework="net471" />
  <package id="System.IO.MemoryMappedFiles" version="4.3.0" targetFramework="net471" />
  <package id="System.IO.UnmanagedMemoryStream" version="4.3.0" targetFramework="net471" />
  <package id="System.Reflection.Emit" version="4.3.0" targetFramework="net471" />
  <package id="System.Reflection.Emit.Lightweight" version="4.3.0" targetFramework="net471" />
  <package id="System.Reflection.TypeExtensions" version="4.4.0" targetFramework="net471" />
  <package id="TimHanewich.Csv" version="1.0.0" targetFramework="net471" />
  <package id="TimHanewich.Toolkit" version="3.1.1" targetFramework="net471" />
</packages>