<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Codemasters.F1_2020" version="4.3.3" targetFramework="net471" />
  <package id="LibGit2Sharp" version="0.27.0-preview-0017" targetFramework="net471" />
  <package id="LibGit2Sharp.NativeBinaries" version="2.0.289" targetFramework="net471" />
  <package id="LiveCharts" version="0.9.7" targetFramework="net471" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net471" />
  <package id="TimHanewich.Csv" version="1.0.0" targetFramework="net471" />
  <package id="TimHanewich.Toolkit" version="3.1.1" targetFramework="net471" />
</packages>